@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vítejte na Pařez Wiki!</h1>
    <h3>Nejnovější články: </h3>
    <p>Více o <a href="/mi_rubec">Rubci</a>.</p>
    <p>Více o <a href="/mi_viden">Vídni</a>.</p>
    <p>Více o <a href="/mi_klub">Klubu</a>.</p>
    <p>Více o <a href="/mi_byt_chudaka_kterej_nema_rad_kluby">Bytu chudáka, kterej nemá rád kluby</a>.</p>
    <p>Více o <a href="/mi_schodiste_tt">Schodišti TT</a>.</p>
    <p>Více o <a href="/mi_oranjestad">Oranjestadu</a>.</p>
    <p>Více o <a href="/beacon_parez">Beaconu</a>.</p>
    <p>Více o <a href="/mi_ulice_schodova">ulici Schodové</a>.</p>
    <p>Více o <a href="/mi_beetroot_farma">Beetroot farmě</a>.</p>
    <p>Více o <a href="/mi_rudakuv_dum">Ruďákově domě</a>.</p>
</div>