@{
    var i = 1;
    var color = "rgb(154, 174, 182)";
}

@if (Model != null){
    <div style="display: flex; flex-direction: column; gap: 10px;">
        <div style="display: flex; flex-direction: row; align-items: center; height: 50px; background-color: aquamarine; border-style: solid;">
            <div style="width: 40px; text-align: center; vertical-align: middle;">POŘADÍ</div>
            <div style="flex: 6; text-align: center; vertical-align: middle;">NÁZEV</div>
            <div style="flex: 2; text-align: center; vertical-align: middle;">SKÓRE</div>
        </div>
        @foreach(var item in Model.Keys){
            @if (i == 1){
                color = "rgb(255, 215, 0)";
            }
            @if (i == 2){
                color = "rgb(192, 192, 192)";
            }
            @if (i == 3){
                color = "rgb(205, 127, 50)";
            }
            @if (i == 4){
                color = "rgb(210, 210, 210)";
            }
            <div style="display: flex; flex-direction: row; align-items: center; height: 50px; background-color: @color; border-style: solid;">
                <div style="width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; border-radius: 50%; background-color: rgb(228, 82, 82); margin-left: 5px;">@i</div>
                <div style="flex: 6; text-align: center; vertical-align: middle;">@item</div>
                <div style="flex: 2; text-align: center; vertical-align: middle;">@Model[item]</div>
            </div>
            i++;
        }
    </div>
}