<style>
    .item {
        padding-top: 15px;
        padding-left: 15px;
        padding-bottom: 15px;
        padding-right: 15px;
        font-size: x-large;
    }
    .cell-blue {
         background-color: lightblue;
    }
    .cell-gray {
         background-color: lightgray;
    }
    .cell-green {
         background-color: lightgreen;
    }
    td {
        transition: background-color 0.2s ease;
        cursor: pointer;
    }

    td:hover {
        background-color: #d0e0ff;
    }
</style>

@{
    var total = Model.Count;
}

@if (Model != null){
    <table style="width: 100%">
        @for(int i = 0; i < total; i++){
            if (i % 4 == 0)
            {
                @:<tr>
            }

            if (i % 3 == 0){
                <td class="item cell-blue" style="text-align: center;">
                    @Model[i]
                </td>
            }
            if (i % 3 == 1){
                <td class="item cell-gray" style="text-align: center;">
                    @Model[i]
                </td>
            }
            if (i % 3 == 2){
                <td class="item cell-green" style="text-align: center;">
                    @Model[i]
                </td>
            }
            
            if ((i % 4 == 3) || (i == total - 1))
            {
                @:</tr>
            }
        }
    </table>
}