@{
    ViewData["Title"] = "Nové Místnosti";
}

<div class="text-center">
    <h1 class="display-4">Vítejte na Pařez Wiki!</h1>
    <h3>Nejnovější místnosti: </h3>
    <ul>
        <li>#434 - 04/07/25 <a href="/mi_promena">Proměna</a></li>
        <li>#433 - 04/07/25 <a href="/mi_strop">Strop</a></li>
        <li>#432 - 04/07/25 <a href="/mi_komin">Komín</a></li>
        <li>#431 - 04/07/25 <a href="/mi_katedra">Katedra</a></li>
        <li>#430 - 04/07/25 <a href="/mi_stopa">Stopa</a></li>
        <li>#429 - 03/07/25 <a href="/mi_pramice">Pramice</a></li>
        <li>#428 - 30/06/25 <a href="/mi_hnizdo">Hnízdo</a></li>
        <li>#427 - 30/06/25 <a href="/mi_kazeta">Kazeta</a></li>
        <li>#426 - 30/06/25 <a href="/mi_lusk">Lusk</a></li>
        <li>#425 - 30/06/25 <a href="/mi_vystavni">Výstavní</a></li>
        <li>#424 - 27/06/25 <a href="/mi_spunt">Špunt</a></li>
        <li>#423 - 22/06/25 <a href="/mi_garaz">Garáž</a></li>
        <li>#422 - 22/06/25 <a href="/mi_prah">Práh</a></li>
        <li>#421 - 22/06/25 <a href="/mi_hraz">Hráz</a></li>
        <li>#420 - 19/06/25 <a href="/mi_vyloha">Výloha</a></li>
        <li>#419 - 19/06/25 <a href="/mi_koreny">Kořeny</a></li>
    </ul>
</div>