<div class="d-flex flex-column align-items-center gap-3 mt-4">
    <form method="get" action="/Top/Parezle">
        <button type="submit" class="btn btn-primary btn-lg">NEJ MÍSTNOSTI PRO PAŘEZLE</button>
    </form>
    <form method="get" action="/Top/Largest">
        <button type="submit" class="btn btn-primary btn-lg">NEJVĚTŠÍ MÍSTNOSTI</button>
    </form>
    <form method="get" action="/Top/Mostbordered">
        <button type="submit" class="btn btn-primary btn-lg">MÍSTNOSTI S NEJVÍCE SOUSEDNÍMA MÍSTNOSTMA</button>
    </form>
</div>