<div class="d-flex flex-column align-items-center gap-3 mt-4">
    <form method="get" action="/Game/Patternle/4">
        <button type="submit" class="btn btn-primary btn-lg">4</button>
    </form>
    <form method="get" action="/Game/Patternle/6">
        <button type="submit" class="btn btn-primary btn-lg">6</button>
    </form>
    <form method="get" action="/Game/Patternle/8">
        <button type="submit" class="btn btn-primary btn-lg">8</button>
    </form>
    <form method="get" action="/Game/Patternle/10">
        <button type="submit" class="btn btn-primary btn-lg">10</button>
    </form>
    <form method="get" action="/Game/Patternle/12">
        <button type="submit" class="btn btn-primary btn-lg">12</button>
    </form>
</div>