<div class="d-flex flex-column align-items-center gap-3 mt-4">
    <form method="get" action="/Game/HigherLower">
        <button type="submit" class="btn btn-secondary btn-lg" style="background-color: rgb(201, 218, 52)">Větší nebo menší</button>
    </form>
    <form method="get" action="/Game/ParezleMenu">
        <button type="submit" class="btn btn-primary btn-lg" style="background-color: rgb(153, 87, 230)">PAŘEZLE</button>
    </form>
</div>