@{
    ViewData["Title"] = "Home Page";
}

@if (Model != null){
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Page about @Model.Title.</p>
    </div>

    @foreach (var sec in Model.Sections)
    {
        <div class="section">
            <h2>@sec.Title</h2>
            <p>@sec.Content</p>
        </div>
    }
}