<div class="d-flex flex-column align-items-center gap-3 mt-4">
    <form method="get" action="/Home/New">
        <button type="submit" class="btn btn-secondary btn-lg" style="background-color: rgb(151, 219, 61)">Nové místnosti</button>
    </form>
    <form method="get" action="/List/List">
        <button type="submit" class="btn btn-primary btn-lg" style="background-color: rgb(65, 165, 223)">Seznam místností</button>
    </form>
    <form method="get" action="/Home/Ideas">
        <button type="submit" class="btn btn-primary btn-lg" style="background-color: rgb(199, 54, 54)">Nápady na názvy</button>
    </form>
</div>